.cart-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.cart-items-container h3 {
  font-size: 4vw;
  font-family: "Satisfy", cursive;
  font-weight: 900;
}
.cart-items-container table {
  border: 2px solid #ccc;
  width: 70%;
  box-shadow: 2px 2px 3px gray;
  padding: 10px;
}

table,
th,
td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
table img{
  width:20%;
}
table span {

}
table button {
  border: 1px solid #d6ccc2;
  border-radius: 2px;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  margin-top: 10px;
  background-color: #d6ccc2;
}

.tfoot {
  text-align: center;
  margin: auto;
}
.orderbutton{
  border: 1px solid #d6ccc2;
  border-radius: 2px;
  margin-left: 10px;
  padding: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-top: 10px;
  background-color: #d6ccc2;
}