.productdetail {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: auto;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
  margin-top: 30px;
  padding: 10px;
}

.productdetail img {
  width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
}
.productdetail p {
  text-align: left;
  font-size: 8px;
}
.productdetail span {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #c48967;
  margin-bottom: 10px;
}
.productdetailSubImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.detail-container {
  display: flex;

  text-align: center;

  align-items: center;
  gap: 40px;
}
.more-details {
  width: 50%;
  border: 1px solid #ccc;
  background-color: #edede9;
  padding: 10px;
  border-radius: 10px;
}
.productdetail button {
  padding: 10px;
  background-color: #d5bdaf;
  border-radius: 8px;
}
.productdetail button:hover {
  background-color: #c48967;
  font-weight: 600;
  color: white;
}
.product-details-subimages {
  display: flex;
  gap: 5px;
}
.product-details-subimages img {
  width: 100%;
  border-radius: 5px !important;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
}
.img-swiper {
  width: 40%;
  height: 400px;
  object-fit: cover;
}
.comment-box {
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #e6e4e4;
}
.comment h6 {
  text-align: left;
}
.hov:hover {
  background-color: #d5bdaf;
  color: white;
}
