.Products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding: 10px 20px;
}
.ProductsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  font-weight: 200;
}
.ProductsInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.Products .ProductsInfo .product {
  border: 1px solid #ccc;
  background-color: #d6ccc2;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
}
.ProductsInfo .product img {
  margin-bottom: 0px 0px 20px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.btn-style {
 
 background-color: #6b9080;
  color: white;
  border-radius: 6px;
  padding: 5px;
  margin: 0px 0px 10px;
}
.pagenation{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10;

  
}
.number-box{
  border:1px solid  #6b9080;
  padding: 5px 10px;
  
}
.Products h3{
  font-family: "Satisfy", cursive;
  font-weight: 900;
  font-size: 4vw;
}